html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    font-family: Roboto Mono, monospace;
    font-size: max(0.85vh, 1.05vw);
    color: #ddd;
    overflow: scroll;
}

#keyboard-wrapper-ansi {
    container-type: inline-size;
    width: 70%;
    aspect-ratio: 3.1 / 1;
    background-color: #333;
    margin: 100px auto 0 auto;
    text-transform: uppercase;
    padding: 0.15vw;
    border-radius: 0.5vw;
}

#keyboard {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 3.5cqh;
    grid-template-rows: repeat(5, 1fr);
}

.row-db3ccea {
    display: grid;
}

.num-row-ansi-db3ccea {
    grid-template-columns: 1fr repeat(12, 1fr) 2fr;
}

.top-row-ansi-db3ccea {
    grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
}

.home-row-ansi-db3ccea {
    grid-template-columns: 1.75fr repeat(11, 1fr) 2.25fr;
}

.bot-row-ansi-db3ccea {
    grid-template-columns: 2.25fr repeat(10, 1fr) 2.75fr;
}

.space-row-ansi-db3ccea {
    grid-template-columns: repeat(3, 1.25fr) 6.25fr repeat(4, 1.25fr);
}

.key-db3ccea {
    border-radius: 0.4cqh;
    background-color: #111;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.175vw;
}

.key-left-align-db3ccea {
    justify-content: left;
    padding-left: 1cqh;
}

#keyboard-wrapper-colstag {
    container-type: inline-size;
    width: 70%;
    aspect-ratio: 3.1 / 1;
    background-color: #333;
    margin: 100px auto 0 auto;
    text-transform: uppercase;
    padding: 0.15vw;
    border-radius: 0.5vw;
}

#keyboard {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 3.5cqh;
    grid-template-rows: repeat(5, 1fr);
}

.row-4e20831 {
    display: grid;
}

.num-row-4e20831 {
    grid-template-columns: 1fr repeat(12, 1fr) 2fr;
}

.top-row-4e20831 {
    grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
}

.home-row-4e20831 {
    grid-template-columns: 1.75fr repeat(12, 1fr) 1.25fr;
}

.bot-row-4e20831 {
    grid-template-columns: 1.25fr repeat(11, 1fr) 2.75fr;
}

.space-row-4e20831 {
    grid-template-columns: repeat(3, 1.25fr) 6.25fr repeat(4, 1.25fr);
}

.key-4e20831 {
    border-radius: 0.4cqh;
    background-color: #111;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.175vw;
}

.key-left-align-4e20831 {
    justify-content: left;
    padding-left: 3cqh;
}

.return-top-4e20831 {
    border-radius: 0.5vw 0.5vw 0 0.5vw;
}

.return-bot-4e20831 {
    border-radius: 0 0 0.5vw 0.5vw;
    margin-top: -0.2vw;
}

.keyboard-wrapper-iso-fccd2fa {
    container-type: inline-size;
    width: 70%;
    aspect-ratio: 3.1 / 1;
    background-color: #333;
    margin: 100px auto 0 auto;
    text-transform: uppercase;
    padding: 0.15vw;
    border-radius: 0.5vw;
}

.keyboard-fccd2fa {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 3.5cqh;
    grid-template-rows: repeat(5, 1fr);
}

.row-fccd2fa {
    display: grid;
}

.num-row-fccd2fa {
    grid-template-columns: 1fr repeat(12, 1fr) 2fr;
}

.top-row-fccd2fa {
    grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
}

.home-row-fccd2fa {
    grid-template-columns: 1.75fr repeat(12, 1fr) 1.25fr;
}

.bot-row-fccd2fa {
    grid-template-columns: 1.25fr repeat(11, 1fr) 2.75fr;
}

.space-row-fccd2fa {
    grid-template-columns: repeat(3, 1.25fr) 6.25fr repeat(4, 1.25fr);
}

.key-fccd2fa {
    border-radius: 0.4cqh;
    background-color: #111;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.175vw;
}

.key-left-align-fccd2fa {
    justify-content: left;
    padding-left: 3cqh;
}

.return-top-fccd2fa {
    border-radius: 0.5vw 0.5vw 0 0.5vw;
}

.return-bot-fccd2fa {
    border-radius: 0 0 0.5vw 0.5vw;
    margin-top: -0.2vw;
}

#keyboard-wrapper-ortho {
    container-type: inline-size;
    width: 56%;
    aspect-ratio: 2.4 / 1;
    background-color: #333;
    margin: 100px auto 0 auto;
    text-transform: uppercase;
    padding: 0.15vw;
    border-radius: 0.5vw;
}

#keyboard {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 3.5cqh;
    grid-template-rows: repeat(5, 1fr);
}

.row-632792e {
    display: grid;
}

.num-row-ortho-632792e {
    grid-template-columns: repeat(12, 1fr);
}

.top-row-ortho-632792e {
    grid-template-columns: repeat(12, 1fr);
}

.home-row-ortho-632792e {
    grid-template-columns: repeat(12, 1fr);
}

.bot-row-ortho-632792e {
    grid-template-columns: repeat(12, 1fr);
}

.space-row-ortho-632792e {
    grid-template-columns: repeat(3, 1.25fr) 6.25fr repeat(4, 1.25fr);
}

.key-632792e {
    border-radius: 0.4cqh;
    background-color: #111;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.175vw;
}